<!DOCTYPE html>
<html lang="zh">
	<%- include('head', {title: title, css:css}); %>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                <img src="/images/favicon/apple-icon.png" width="35" height="35" class="d-inline-block align-top" alt="">
                Call For Music
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="/game">Game</a>
                    <a class="nav-item nav-link" href="/history">History</a>
                    <a class="nav-item nav-link active" href="/setting">Setting<span class="sr-only">(current)</span></a>
                </div>
                <div class="navbar-nav">
                    <a href="/profile/<%= user.username %>" class="nav-item nav-link mr-3">
                        <img height="40" class="rounded-circle mr-2" src="/profile_images/<%= user.icon %>" >   
                        <%= user.username %>
                    </a>
                </div>
                <a href="/logout" role="button" class="nav-item btn btn-outline-warning">Logout</a>
            </div>
        </nav>
        <div class="container-fluid py-3" style="min-height:100vh;">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card border-success bg-light">
                        <div class="bg-white text-success card-header text-center">
                            若不修改，請留白
                        </div>
                        <div class="card-body">
                            <div class="alert alert-danger collapse" role="alert" id="errDialog">
                                <span id="errMsg"></span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="alert alert-success collapse" role="alert" id="successDialog">
                                <span id="successMsg"></span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="/edit" id='editForm' method="POST">
                                <div class="form-group text-center">
                                    <div class="rounded-circle" id="imgUpload" data-url='/profile_images/<%= user.icon %>'>Upload Image</div>
                                    <input id="icon" type="file" name="icon" hidden="hidden" />
                                </div>
                                <div class="form-group">
                                    <label for="username">帳號：</label>
                                    <input class="form-control input-lg" id="username" type="text" name="username" value="<%= user.username %>" readonly/>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="password">密碼：</label>
                                        <input class="form-control input-lg" id="password" type="password" name="password" placeholder="請輸入密碼"/>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="checkPassword">確認密碼：</label>
                                        <input class="form-control input-lg" id="checkPassword" type="password" placeholder="請再次輸入密碼"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="introduction">自我介紹</label>
                                    <textarea class="form-control" id="introduction" type="password" name="introduction" rows="5" placeholder="向眾人介紹自己"><%= user.introduction %></textarea>
                                </div>
                                <input id="submit" type="submit" class="btn btn-success btn-large btn-block" value="儲存修改">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="cropImage" tabindex="-1" role="dialog" aria-labelledby="CropTheModal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">請裁切圖片至正方形</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <img class='img-fluid' src="/images/cropped_avatar.png" id="hiddenIcon">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="cropIt">確定</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/popper.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/sweetalert2.all.min.js"></script>
        <script src="/javascripts/cropper.min.js"></script>
        <script src="/javascripts/jquery-cropper.min.js"></script>
        <script src="/javascripts/jquery-ajax-blob.js"></script>
        <script src="/javascripts/setting.js"></script>
    </body>
</html>
